:root { --color-primary: #003c5e; }

amp-selector[role=tablist].tabs-with-flex {
    display: flex;
    flex-wrap: wrap;
}
amp-selector[role=tablist].tabs-with-flex [role=tab] {
    flex-grow: 1;
    text-align: center;
    padding: 12px;
    background-color: rgba(243,245,249,1);
    color: #003c5e;
    font-weight: 700;
    font-size: 16px;
}
amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
    outline: 0;
    border-bottom: 2px solid #000;
    background-color: #003c5e;
    color: #fff;
    font-weight: 600;
}
amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
    display: none;
    width: 100%;
    order: 1;
    padding: 12px;
}
amp-selector[role=tablist].tabs-with-flex [role=tab][selected]+[role=tabpanel] {
    display: block;
}